body {
  margin: 0;
  background-color: #2C2F33;
  font-family: 'Montserrat', sans-serif;
}

th {
  font-size: 1.5em;
  border-bottom: 1px solid white;
  cursor: hand;
  user-select: none;
}

td {
  text-align: center;
  font-size: 1.25em;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: #23272A;
  padding-left: 5px;
  padding-right: 5px;
  position: fixed;
  width: 100%;
}

.nav-title {
  font-weight: bold;
  font-size: 2em;
  margin-left: 40px;
}

.nav-links {
  list-style-type: none;
  margin-right: 40px;
}

.nav-item {
  float: left;
}

.nav-link {
  display: block;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  color: #e6e6e6;
}

.stats {
  width: 90%;
  margin-top: 120px;
  padding-bottom: 10px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 5px;
}

.actual-content {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 120px;
}

.warning {
  background-color: #ef4343;
  padding: 2px 20px 2px 20px;
  border-radius: 2px;
  font-size: 1.25em;
}

.info {
  background-color: #3273dc;
  padding: 2px 20px 2px 20px;
  border-radius: 2px;
  font-size: 1.25em;
}

.card {
  margin-top: 8px;
  font-size: 1.15em;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.welcome {
  padding: 2px 20px 2px 20px;
  width: auto;
}

.button {
  padding: 2px 20px 2px 20px;
  margin-left: 10px;
  background-color: dodgerblue;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

.button:hover {
  opacity: 0.7;
}

hr {
  width: 90%
}

.block {
  background-color: black;
  padding: 2px 20px 2px 20px;
}

.key-info {
  background-color: #23272A;
  padding: 2px 20px 2px 20px;
}

.form {
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 25%;
  margin: 0 auto 0 auto;
}

.form label {
  padding: 10px 0 10px 0;
  font-weight: bold;
}

.form input {
  background-color: #23272A;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid white;
  color: white;
  margin-top: 10px;
}

.form textarea {
  background-color: #23272A;
  padding: 10px;
  border-style: solid;
  border-color: white;
  border-radius: 3px;
  border-width: 1px;
  color: white;
  font-family: sans-serif;
  resize: vertical;
}

.app-card {
  background-color: #23272A;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 20px 2px 20px;
}

h1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.app-card header h5 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.app-approve {
  align-self: self-start;
  background-color: #27ae60;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  color: white;
  margin-right: 2px;
}

.app-decline {
  align-self: self-end;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #e74c3c;
  width: 50%;
  text-align: center;
  text-decoration: none;
  color: white;
  margin-left: 2px;
}

.unlimited {
  align-self: self-start;
  background-color: #2980b9;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  color: white;
  margin-right: 2px;
}

.side-nav a {
  text-align: center;
  border: none;
  width: 100%;
  height: 40px;
  background-color: transparent;
  font-family: 'Open Sans Light', sans-serif;
  outline: none;
  color: white;
  font-size: 18px;
  transition: all 1s;
  cursor: pointer;
  vertical-align: middle;
  padding-top: 20px;
  text-decoration: none;
}

.side-nav a::before {
  position: absolute;
  content: '»';
  opacity: 0;
  transition: 0.5s;
  left: 0px;
}

.side-nav a:hover::before {
  opacity: 1;
  transition: all 0.5s;
  left: 10px;
}

.side-nav a:hover {
  background-color: rgb(30, 30, 30);
}

.clickme {
  cursor: pointer;
  user-select: none;
}

.hidden {
  display: none;
}
